:root {
	/* Primary  */
	--clr-red: hsl(0, 100%, 74%);
	--clr-green: hsl(154, 59%, 51%);

	/* Accent  */
	--clr-blue: hsl(248, 32%, 49%);

	/* Neutral  */
	--clr-dark-blue: hsl(249, 10%, 26%);
	--clr-grayish-blue: hsl(246, 25%, 77%);


	/* Font Weight */
	--font-weight-400: 400;
	--font-weight-500: 500;
	--font-weight-600: 600;
	--font-weight-700: 700;


}

*, *::after, *::before {
	font-family: "Poppins", serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}




picture,
video,
canvas,
svg {
	display: block;
	user-select: none;
	max-width: 100%;
}

body {
	background-image: url('/images/bg-intro-mobile.png');
	background-color: var(--clr-red);
	height: 100dvh;
	width: 100%;

	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
}


main {

	padding: 4rem 1.3rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.section1 {
	color: white;
	text-align: center;
}

h1 span {
	display: block;
}


.section1 p {
	margin-top: 1.2rem;
	font-size: 1.1rem;
}

p {
	line-height: 1.5rem;
}


.section2 {
	text-align: center;
}



.button-promo {
	color: var(--clr-grayish-blue);
	text-align: center;
	padding-inline: 4rem;
	padding-block: 1rem;
	background-color: var(--clr-blue);
	border-radius: 8px;
	border: none;
	font-size: 1rem;
	box-shadow: 0px 9px 4px rgba(51, 50, 50, 0.426);
	margin-bottom: 0.5rem;
	width: 100%;
}

.button-promo span {
	color: white;
	font-weight: var(--font-weight-600);
}

form {
	margin-top: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 1.1rem;
	background-color: white;
	padding: 1.4rem;
	border-radius: 10px;
	box-shadow: 0px 9px 1px rgba(51, 50, 50, 0.255);
}


.input-wrapper {
	position: relative;
}

input {
	display: block;
	border-radius: 5px;
	height: 3.5rem;
	border: 0.5px solid var(--clr-grayish-blue);
	padding-left: 1.1rem;
	width: 100%;
}




input::placeholder {
	font-weight: var(--font-weight-600);
}


.input-wrapper::before {
	display: var(--before-display, none);
	content: '';
	position: absolute;
	background-image: url('/images/icon-error.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1.5rem;
	aspect-ratio: 1/1;
	right: 3%;
	top: 25%;
	transform: translateY(-25%);
}



.button-free-trial {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: var(--font-weight-500);
	color: white;
	background-color: var(--clr-green);
	border: none;
	height: 3.5rem;
	border-radius: 8px;
	box-shadow: inset 0px -6px 4px rgba(51, 50, 50, 0.258);

}


.button-free-trial:hover {
	cursor: pointer;
	background-color: hsla(154, 59%, 51%, 0.575);

}


.agreement {
	font-size: 0.7rem;
	color: var(--clr-grayish-blue);
	text-align: center;
	padding-inline: 2rem;
}

.agreement a {
	color: var(--clr-red);
	font-weight: var(--font-weight-600);
	text-decoration: none;
}


.error {
	font-weight: var(--font-weight-500);
	color: var(--clr-red);
	margin: 0;
	text-align: right;
	margin-top: 0.3rem;
	font-size: 0.8rem;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px/48rem and up) */
@media only screen and (min-width: 768px) {

	body {
		justify-content: center;
	}


	main {
		flex-direction: row;
		gap:1rem;
		align-items: center;
		max-width: 1152px;
	}


	.section1 {
		flex: 1;
		text-align: left;
	}

	.section2 {
		flex: 1;
	}


	h1 {
		font-size: 3rem;
	}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1152px) {}





/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}